
.slide-container{
    display: flex;
    



    /* justify-content: space-evenly; */

    /* justify-content: space-around; */
    /* justify-content: space-around; */
}


.Pool-container{
display: flex;
justify-content: space-between;
margin-top: 60px;
/* padding: 0px 100px; */
}


.sort-button{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    /* justify-content: center; */
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 50px;
    height: 35px;
    width: 80px;
    background-color: rgb(2, 2, 240);
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
}

.sort{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}


/* .icon{
    margin-right: 10px;
    margin-top: 8px;
} */

/* p{
    text-align: center;
    margin-left: 10px;
    margin-top: 8px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */

.slide-box{
    /* background-color: aqua; */
    /* height: 300px;
    width: 250px;
    border-radius: 20px;
    border-color: blueviolet;
    

    border: 2px solid #c70000; */

    background-color: #EBE6FF;
  
    margin-top: 30px;
    margin-left: 100px;
    width: 270px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 0.5px solid blue;
    border-radius: 10px;
    cursor: pointer;
}

.crypto-logo{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.crypto-logo1{
    height: 50px;
    width: 50px;

    margin-left: -10px;
}

.token-ticker{
    font-size: 24px !important;
    /* text-align: center; */
    /* margin-left: 0px; */


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;

}

h2{
    margin-left: 100px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.supply{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
}

h4{
    margin: 0px 20px 0px 20px;

    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}








/* Styling for ALl pool  Section  */




